.button {
  width: 15rem;
  height: 4rem;
  border-radius: 2rem;
  font-size: 1.6rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  display: inline-block;
  cursor: pointer;
  transition: all .3s;
  &_primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    &:hover {
      border: 2px solid var(--color-primary);
      background-color: transparent;
      color: initial;
    }
  }
  &_outline {
    background-color: transparent;
    border: 2px solid var(--color-primary);
    &:hover {
      border: none;
      color: var(--color-white);
      background-color: var(--color-primary);
    }
  }
}