.filter {
  grid-template-columns: 1fr;
  row-gap: 2rem;
  display: none;
  &_active {
    display: grid;
  }
  fieldset {
    padding-left: 2rem;
    height: 8rem;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    column-gap: 10rem;
    align-items: center;
    border: 1px solid gray;
    @include respond-to('medium') {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 1rem;
      height: 12rem;
    }
    legend {
      font-size: 1.8rem;
    }
    label {
      color: dimgray;
      font-size: 1.6rem;
      display: grid;
      grid-template-columns: repeat(2, max-content);
      column-gap: 1rem;
    }
  }
}