:root {
  --main-font-size: 10px;
  --main-font-family: Arial, Helvetica, sans-serif;

  --color-primary: #00b3e3;
  --color-white: #FFFFFF;
}

$breakpoints: (
        'large': (max-width: 1319px),
        'medium': (max-width: 991px),
        'small': (max-width: 499px),
);